<div class="d-none d-sm-none d-md-none d-lg-block sidebar position-fixed" style="width: 230px;">
	<div style="height: calc(100vh - 68px);">
		<div class="row sidemanu p-3 m-0" [routerLinkActive]="['active']" routerLink="/admin/product-list">
			<ul class="p-0 m-0">
				<li><i class="fa fa-university" aria-hidden="true"></i><a class="pl-3">Product List</a></li>
			</ul>
		</div>
		<div class="row sidemanu p-3 m-0" [routerLinkActive]="['active']" routerLink="/admin/orders">
			<ul class="p-0 m-0">
				<li><i class="fa fa-user-circle-o" aria-hidden="true"></i><a class="pl-3">Orders</a></li>
			</ul>
		</div>
	</div>
</div>