<div class="custom_box">
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <label for="product-name" class="form-label">Product Name</label>
                <textarea [(ngModel)]="productForm.name" class="form-control" id="product-name"
                    placeholder="Enter : xxxxx" rows="2"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="selling_price" class="form-label">Selling Price</label>
                <input [(ngModel)]="productForm.selling_price" type="number" class="form-control" id="selling_price"
                    placeholder="Enter : 100">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="product-name" class="form-label">Market Price</label>
                <input [(ngModel)]="productForm.market_price" type="number" class="form-control" id="product-name"
                    placeholder="Enter : 120">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="minimum_quantity" class="form-label">Minimum Quantity</label>
                <input [(ngModel)]="productForm.min_qty" type="number" class="form-control" id="minimum_quantity"
                    placeholder="Enter : 5">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="product-name" class="form-label">Size</label>
                <input [(ngModel)]="productForm.size" type="text" class="form-control" id="product-name"
                    placeholder="Enter : XXl">
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea [(ngModel)]="productForm.description" class="form-control" id="description"
                    rows="7"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <label for="description" class="form-label">Images</label>
                <input (change)="uploadImage($event)" hidden type="file" class="form-control" id="product_image"
                    placeholder="Enter : XXl">
            </div>
            <div class="mb-3">
                <button onclick='product_image.click()' class="btn btn-success shadow">
                    Upload Image
                </button>
            </div>
            <div *ngIf="this.productForm.photo.length" class="mb-3">
                <ng-container *ngFor="let item of  this.productForm.photo; let i = index">
                    <span style="position: relative;">
                        <i class=" deleteIcon bi-trash-fill" (click)="imageRemove(i)"></i>
                        <img *ngIf="item.type == 'new'" [src]="item.image" alt="" height="150" width="150"
                            style="padding: 12px;object-fit: cover;">
                        <img *ngIf="item.type == 'old'" [src]="this.api.imageURl+item.image" alt="" height="150"
                            width="150" style="padding: 12px;object-fit: cover;">
                    </span>
                </ng-container>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-secondary shadow mx-2">back</button>
            <button *ngIf="!isAction" type="button" (click)="saveProduct()"
                class="btn btn-success shadow mx-2">Save</button>
            <button *ngIf="isAction" (click)="saveProduct()" type="button"
                class="btn btn-success shadow mx-2">Update</button>
        </div>
    </div>
</div>