	<!--=============================================
    =            Cart page content         =
    =============================================-->


	<div class="page-section section mb-50">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<form>
						<!--=======  cart table  =======-->

						<div class="cart-table table-responsive mb-40">
							<table class="table">
								<thead>
									<tr>
										<th class="pro-thumbnail">Image</th>
										<th class="pro-title">Product</th>
										<th class="pro-price">Price</th>
										<th class="pro-quantity">Quantity</th>
										<th class="pro-subtotal">Total</th>
										<th class="pro-remove">Remove</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="pro-thumbnail"><a href=""><img width="350" height="350" src="assets\img\hero-img.png" class="img-fluid" alt="Product"></a></td>
										<td class="pro-title"><a href="">Cillum dolore tortor nisl fermentum</a></td>
										<td class="pro-price"><span>$29.00</span></td>
										<td class="pro-quantity">
											<div class="pro-qty"><input type="text" value="1"><a href="" class="inc qty-btn">+</a><a href="" class="dec qty-btn">-</a></div>
										</td>
										<td class="pro-subtotal"><span>$29.00</span></td>
										<td class="pro-remove"><a href=""><i class="fa fa-trash-o"></i></a></td>
									</tr>
									<tr>
										<td class="pro-thumbnail"><a href=""><img width="350" height="350" src="assets\img\hero-img.png" class="img-fluid" alt="Product"></a></td>
										<td class="pro-title"><a href="">Auctor gravida pellentesque</a></td>
										<td class="pro-price"><span>$30.00</span></td>
										<td class="pro-quantity">
											<div class="pro-qty"><input type="text" value="2"><a href="" class="inc qty-btn">+</a><a href="" class="dec qty-btn">-</a></div>
										</td>
										<td class="pro-subtotal"><span>$60.00</span></td>
										<td class="pro-remove"><a href=""><i class="fa fa-trash-o"></i></a></td>
									</tr>
									<tr>
										<td class="pro-thumbnail"><a href=""><img width="350" height="350" src="assets\img\hero-img.png" class="img-fluid" alt="Product"></a></td>
										<td class="pro-title"><a href="">Condimentum posuere consectetur</a></td>
										<td class="pro-price"><span>$25.00</span></td>
										<td class="pro-quantity">
											<div class="pro-qty"><input type="text" value="1"><a href="" class="inc qty-btn">+</a><a href="" class="dec qty-btn">-</a></div>
										</td>
										<td class="pro-subtotal"><span>$25.00</span></td>
										<td class="pro-remove"><a href=""><i class="fa fa-trash-o"></i></a></td>
									</tr>
									<tr>
										<td class="pro-thumbnail"><a href=""><img width="350" height="350" src="assets\img\hero-img.png" class="img-fluid" alt="Product"></a></td>
										<td class="pro-title"><a href="">Habitasse dictumst elementum</a></td>
										<td class="pro-price"><span>$11.00</span></td>
										<td class="pro-quantity">
											<div class="pro-qty"><input type="text" value="1"><a href="" class="inc qty-btn">+</a><a href="" class="dec qty-btn">-</a></div>
										</td>
										<td class="pro-subtotal"><span>$11.00</span></td>
										<td class="pro-remove"><a href=""><i class="fa fa-trash-o"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>

						<!--=======  End of cart table  =======-->


					</form>

					<div class="row mt-4">

						<div class="col-lg-6 col-12">
							<!--=======  Calculate Shipping  =======-->

							<div class="calculate-shipping">
								<h4>shopping address</h4>
								<form>
									<div class="row">
										<div class="col-md-6 col-12 mb-25">
											<input type="country"  placeholder="country">
										</div>
										<div class="col-md-6 col-12 mb-25">
											<input type="city"  placeholder="city">
										</div>
										<div class="col-md-6 col-12 mb-25 mt-2">
											<input type="number" placeholder="pincode">
										</div>
										<div class="col-md-6 col-12 mb-25 mt-2">
											<input type="address" placeholder="address">
										</div>
										<div class="col-md-6 col-12 mb-25 mt-2">
											<input type="number" placeholder="phoneno">
										</div>
										<div class="col-md-6 col-12 mb-25 mt-2">
											<input type="state" placeholder="state">
										</div>
										<div class="col-md-6 col-12 mb-25 mt-2">
											<input type="email" placeholder="email">
										</div>
									</div>
								</form>
							</div>

							<!--=======  End of Calculate Shipping  =======-->

							<!--=======  Discount Coupon  =======-->

							<!-- <div class="discount-coupon">
								<h4>Discount Coupon Code</h4>
								<form action="https://htmldemo.net/greenfarm/greenfarm/cart.html#">
									<div class="row">
										<div class="col-md-6 col-12 mb-25">
											<input type="text" placeholder="Coupon Code">
										</div>
										<div class="col-md-6 col-12 mb-25">
											<input type="submit" value="Apply Code">
										</div>
									</div>
								</form>
							</div> -->

							<!--=======  End of Discount Coupon  =======-->

						</div>


						<div class="col-lg-6 col-12 d-flex">
							<!--=======  Cart summery  =======-->

							<div class="cart-summary">
								<div class="cart-summary-wrap">
									<h4>Cart Summary</h4>
									<p>Sub Total <span>$1250.00</span></p>
									<p>Shipping Cost <span>$00.00</span></p>
									<h2>Grand Total <span>$1250.00</span></h2>
								</div>
								<div class="cart-summary-button">
									<button class="checkout-btn">Checkout</button>
									<button class="update-btn">Update Cart</button>
								</div>
							</div>

							<!--=======  End of Cart summery  =======-->

						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

	<!--=====  End of Cart page content  ======-->