.card{
    background-color: none !important;
    // border: none !important;
    border:none !important;
}

.navbar{
    .nav-link{
        font-size: 18px;
        font-weight: 600;
        color: #000000;
    }
}