.navbar {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    // background: linear-gradient(60deg, #ab47bc, #7b1fa2);
    // box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.15), 0 13px 24px -11px rgba(156, 39, 176, .6);
}

.navbar-toggler {
    padding: 7px 12px;
}

.brand {
    font-size: 30px!important;
}

.dropdown-toggle::after {
    display: none;
}

.dropmanu {
    box-shadow: 0 2px 4px 1px #acacac;
    cursor: pointer;
}

.dropdown-item:active {
    background-color: white;
}

.user-bg {
    background: linear-gradient(60deg, #ab47bc, #7b1fa2);
    color: white;
    font-weight: 600;
    letter-spacing: 2px;

}